.create-post {
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.create form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.create form input[type="text"], .create textarea {
    border: 1px solid var(--stroke);
    border-radius: 15px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    color: var(--subtext);
    padding: 18px 20px;
    margin-bottom: 20px;
    width: 100%;
}
.create input[type="file"] {
    font-family: 'Inter';
    font-size: 16px;
    color: var(--subtext);
}
.create label {
    margin-bottom: 6px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;   
    color: black;
}
.create-title {
    color: black;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
}
.create-legend {
    font-family: 'Inter';
    color: var(--subtext);
    font-size: 14px;
}
.create button {
    margin-top: 14px;
    align-self: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    color: black;
    border: 1px solid var(--subtext);
    padding: 18px 60px;
    background: none;
    border-radius: 20px;
}
.description {
    min-height: 150px;
}
.no-selected-tag {
    font-family: 'Inter';
    font-size: 18px;
    color: var(--subtext);
}
select {
    border: 1px solid var(--stroke);
    border-radius: 15px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    color: var(--subtext);
    padding: 18px 20px;
    margin-bottom: 40px;
    width: 100%;
    background-color: white;
    margin-top: 6px;
}
#selected_tags {
    width: 100%;
}
.tag-badge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.tag-remove {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext);
}
.tag-name {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.tag-error {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    color: red;   
}
.second-label {
    margin-top: 22px;
}