<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoInvest - {{ user.role }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/inbox.css') }}">
</head>
<body>
    {% from "components/header.html" import header %}
    {{ header(user, pages=pages) }}
    <div class="view">
        <div class="inbox-contact">
            {% for conv in conversations %}
                {% set other = conv.user2 if conv.user1_id == user.id else conv.user1 %}
                <div class="contact">
                <div class="contact-info">
                    <p class="contact-info-name">{{ other.name }} {{ other.surname }}</p>
                    <a class="contact-info-open" href="/inbox?conv_id={{ conv.id }}" >Open</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="inbox-messages">
            <div class="messages">
                {% if not selected_conv %}
                    <div>
                        Please select a conversation to start
                    </div>
                {% else %}

                {% for m in messages %}
                    {% set sender = m.sender %}

                    {% if m.sender_id == user.id %}
                        <div class="message message-right">
                            <div class="message-content">
                                <p>{{ m.content }}</p>
                            </div>
                            <div class="message-author">
                                <p>{{ sender.name }} {{ sender.surname }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="message message-left">
                            <div class="message-content">
                                <p>{{ m.content }}</p>
                            </div>
                            <div class="message-author">
                                <p>{{ sender.name }} {{ sender.surname }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="send-message">
                <input type="text" id="message_input" placeholder="Write a message" required>
                <button onclick="sendMessage({{ selected_conv.id }}, {{ selected_conv.user2_id if selected_conv.user1_id == user.id else selected_conv.user1_id }})" type="submit">Send</button>
            </div>
        </div>
    </div>
    <script>
    function sendMessage(conversation_id, receiver_id) {
        let content = document.getElementById("message_input").value.trim();
        if (content) {
            fetch(`/message/send/${receiver_id}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    content: content
                })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "/inbox?conv_id=" + conversation_id;
                } else {
                    alert("Error : " + data.error);
                }
            });
        }
    }
    </script>
</body>
</html>