<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoInvest - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>
    <div class="form-container">
        <div class="form-elements">
            <img class="form-logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="GoInvest">
        
            <form id="login-form"  method="POST" action="{{ url_for('login') }}">
                <input type="email" name="email" id="username" placeholder="Email address" value="chad@student.com" required>
                <input type="password" name="password" id="password" placeholder="Password" value="azerty" required>
                <button type="submit" class="btn">Login</button>
            </form>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                <p class="message">{{ msg }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
            <p class="form-switch">
                Don't have an account? <a href="/register">Register here</a>
            </p>
        </div>
    </div>
</body>
</html>